:host {
  display: flex;
  flex-grow: 1;

  .login-title {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    font-size: 17px;
  }
}

.mat-form-field {
  width: 100%;
  padding-bottom: 0.5rem;
}

// Font styles
input:-webkit-autofill::first-line {
  font-size: 1rem;
}

input {
  line-height: 1;
}

.wrapper {
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 100%;
  min-width: 100%;
}

.wrapper::before {
  content: "";
  position: fixed;
  top: 60%;
  right: 0;
  width: 125%;
  height: 100%;
  transform: rotate(15deg);
}

.login-container {
  min-width: 20rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  .mat-card {
    margin: 0 !important;
    border: none;
    background-color: transparent;
    padding: 2rem;
    max-width: 580px;

    form {
      .login-button {
        margin-top: 1rem;
      }
    }
  }
}
